.git
.github
.next
.vscode
.yarn/*
!.yarn/plugins
!.yarn/releases
node_modules
.dockerignore
.editorconfig
.env*
.eslintignore
.gitattributes
.gitignore
.prettierignore
Dockerfile
next-env.d.ts
README.md
