/.vscode/*.json     linguist-language=JSON5

/.yarn/cache/**     linguist-vendored
/.yarn/plugins/**   binary linguist-generated
/.yarn/releases/**  binary linguist-generated
/.yarn/sdks/**      binary linguist-generated

/.pnp.*             binary linguist-generated
